.container {
  width: 100vw;

  button {
    color: var(--highlight);
    font-size: 1.125rem;

    margin-top: 4rem;
    background: none;
    border: 0;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
.content {
  max-width: 700px;
  margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: row;
    color: var(--info);

    margin-top: 1.56rem;
    margin-bottom: 3.25rem;

      svg {
        color: var(--heading);
        margin-right: 0.5rem;
      }


    div + div {
      margin-left: 2rem;
    }
}
