.container {
  width: 100vw;

  button {
    color: var(--highlight);
    font-size: 1.125rem;

    margin-top: 4rem;
    background: none;
    border: 0;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
.content {
  max-width: 700px;
  margin: 0 auto;
}

.infoBlock {
  color: var(--info);
    svg {
      color: var(--heading);
      margin-right: 0.5rem;
    }
    div  {
      margin-right: 2rem;
    }

}
